/ar-lib
/arg-nonnull.h
/c++defs.h
/compile
/config.guess
/config.sub
/test-driver
/snippet/*
/googletest-Makefile.am
/config.rpath
/config.sub
/gendocs.sh
/gendocs.sh
/gitlog-to-changelog
/gitlog-to-changelog
/gnu-web-doc-update
/gnupload
/googletest-Makefile.am
/install-sh
/ltmain.sh
/mdate-sh
/snippet/*
/test-driver
/texinfo.tex
/update-copyright
/update-copyright
/useless-if-before-free
/vc-list-files
/warn-on-use.h
/announce-gen
/do-release-commit-and-tag
